## Flutter & Dart
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata

## Android/Gradle
**/.gradle/
**/local.properties

## iOS/macOS
**/Pods/
**/.generated/

## IDE
**/.idea/
**/*.iml
**/.vscode/

## Other
**/.DS_Store

## APK builds (upload to Drive instead)
*.apk
